workout_app/.venv
workout_app/workout_app/settings.py
workout_app/workout_app/__init__.py
workout_app/workout_app/__pycache__
workout_app/api/__pycache__
workout_app/api/__init__.py
workout_app/api/migrations/__pycache__
workout_app/api/migrations/__init__.py
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*